@model ContactList.Models.Contact
@{
    ViewBag.Title = "Edit Contact";
}
<div class="u-marginH--lg">
    <h2>@ViewBag.Title</h2>

    <div class="c-form o-flex o-flex@l">
        @using (Html.BeginForm("Save", "Contacts"))
        {
        <div class="o-flex__item u-marginH--med">
            <div>
                @Html.LabelFor(m => m.firstName, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.firstName, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.firstName)</p>
            </div>
            <div>
                @Html.LabelFor(m => m.lastName, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.lastName, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.lastName)</p>
            </div>
            <div>
                @Html.LabelFor(m => m.company, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.company, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.company)</p>
            </div>
            <div>
                @Html.LabelFor(m => m.email, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.email, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.email)</p>
            </div>
        </div>
        <div class="o-flex__item u-marginH--med">
            <div>
                @Html.LabelFor(m => m.primaryPhone, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.primaryPhone, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.primaryPhone)</p>
            </div>
            <div>
                @Html.LabelFor(m => m.secondaryPhone, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.secondaryPhone, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.secondaryPhone)</p>
            </div>
            <div>
                @Html.LabelFor(m => m.address, new { @class = "u-fontWeight--bold" })
                @Html.TextBoxFor(m => m.address, new { @class = "c-form__input" })
                <p class="c-form__error">@Html.ValidationMessageFor(m => m.address)</p>
            </div>
            @Html.HiddenFor(m => m.id)
            <button type="submit" class="c-button u-marginV-sm">Save</button>
        </div>
        }
    </div>
</div>