@model ContactList.Models.Contact
@using System.Web.Optimization

@{
    ViewBag.Title = "ViewContact";
}

<h2>@Model.firstName @Model.lastName</h2>

<div>
    <ul>
        <li>Company: @Model.company</li>
        <li>Email: @Model.email</li>
        <li>Phone: @Model.primaryPhone</li>
        @if (Model.secondaryPhone == "")
        {
            <li>Secondary Phone: @Model.secondaryPhone</li>
        }
        <li>Address: @Model.address</li>
    </ul>
</div>
@Html.ActionLink("Edit Contact", "Edit", "Contacts", new { id = Model.id }, "class='btn'")