@model IEnumerable<ContactList.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<div class="o-flex">
    <h1 class="o-flex__item u-float__left">Contact List</h1>
    <button class="o-flex___item c-button u-float__right" onclick="window.location.href='/Home/AddContact'">Add Contact</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Primary Phone</th>
            <th>Secondary Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr onclick="window.location='/home/viewcontact/@contact.id'">
                <td>@contact.firstName</td>
                <td>@contact.lastName</td>
                <td>@contact.company</td>
                <td>@contact.email</td>
                <td>@contact.primaryPhone</td>
                <td>@contact.secondaryPhone</td>
                <td>@contact.address</td>
            </tr>
        }
    </tbody>
</table>