@model IEnumerable<ContactList.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<div class="o-flex">
    <h1 class="o-flex__item u-float__left">Contact List</h1>
    <button class="o-flex___item c-button u-float__right" onclick="window.location.href='/Contacts/New'">Add Contact</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            @*<th>Company</th>*@
            <th>Email</th>
            <th>Primary Phone</th>
            @*<th>Secondary Phone</th>*@
            @*<th>Address</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.firstName @contact.lastName</td>
                @*<td onclick="window.location='/home/viewcontact/@contact.id'">@contact.company</td>*@
                <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.email</td>
                <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.primaryPhone</td>
                @*<td onclick="window.location='/home/viewcontact/@contact.id'">@contact.secondaryPhone</td>*@
                @*<td onclick="window.location='/home/viewcontact/@contact.id'">@contact.address</td>*@
                <td>@Html.ActionLink("Delete", "Delete", "Contacts",new { id = contact.id} , "class='btn'")</td>
            </tr>
        }
    </tbody>
</table>