@model IEnumerable<ContactList.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="o-flex o-flex@s u-marginV--med u-alignItems--baseline">
        <div class="o-flex__item ">
            <h1 class="u-marginH--sm">Contact List</h1>
        </div>
        <div class="o-flex__item">
            <button class="c-button u-float__right u-marginH--sm" onclick="window.location.href='/Contacts/New'">Add Contact</button>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="c-alert c-alert__success">
            <strong>@ViewBag.Message</strong>

        </div>
    }
    <div class="">
        <table class="c-table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Primary Phone</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model)
                {
                    <tr>
                        <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.firstName @contact.lastName</td>
                        <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.email</td>
                        <td onclick="window.location='/contacts/viewcontact/@contact.id'">@contact.primaryPhone</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Contacts", new { id = contact.id }, "class='btn'")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>